.cart-container {
  display: flex;
  gap: 240px; /* Aumenta el espacio horizontal entre la lista y el resumen */
  align-items: flex-start;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}