.cuerpo {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}

.productos {
    display: flex;
  color: black;
  flex-direction: column;
}
#contenedor-carrito{
    width: 60%;
}

.itemcarrito {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  gap: 20px;
  margin-bottom: 10px;
}

.itemcarrito img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.info {
  display: flex;
  gap: 4px;
  font-size: 14px;
}

#contenedor-total {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
}

#contenedor-total h2 {
  margin-top: 0;
}

#contenedor-total div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#contenedor-total #total {
  font-weight: bold;
  font-size: 16px;
}
